body {
    justify-content: center;
    background-color: #e1e0e0;
}

#conda-img {
    width: 250px;
    height: 200px;
    left: 0%;
    position: relative;
    margin-top: 30px;
}

#deliv-desc {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.deliverables {
    margin: 0 auto;
    
}

#deliverable_title, #project {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #222121;
    position: bottom;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
    height: 60px;
    padding: 15px 0px 15px 0px;
    width: 100%;
}

.jumbotron {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    background-color: #cecece;
}

#logo {
    width: 25%;
    height: 25%;
}

#navbar {
    position: fixed;
}

.proj-desc, .sponsor-desc {
    margin: 0 auto;
    padding: 15px;
    text-align: left;
    width: 100%;
    font-size: 1.5em;
}

.project-div, .sponsor-div {
    margin: 0 auto;
    width: 80%;
    justify-content: center;
}

#python {
    width: 200px;
    height: 200px;
    left: 40%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

#rescue-21 {
    justify-content: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sponsor-logo {
    margin: 0 auto;
    align-content: center;
    display: flex;
    padding: 15px;
}

table {
    width: 75%;
    margin: 25px;
}

table a {
    color: black;
}

table, th, td {
    font-size: 1.15em;
    padding: 15px;
  }

#tensor-flow {
    width: 250px;
    height: 200px;
    left: 20%;
    position: relative;
    margin-top: 30px;
}

th,td {
    width: 33%;
    vertical-align: text-top;
}

tr {
    margin: 10px;
    padding: 10px;
}

#whiteLogo {
    width: 45px;
    height: 45px;
    margin-top: 5px;
}

.row{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    align-content: center;
}
​
/* Float four columns side by side */
.column {
  margin: 0 auto;
  width: 30%;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
}
​
​
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #f1f1f1;
    height: 350px;
    width: 300px;
    align-content: center;
}
​
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
​
.sponsorCard 
{
  padding: 40px;
  background: #F5F5F5;
  max-width: 80%;
  height: 60%;
  border-radius: 20px;
  margin: 60px auto;
  font-size: 10pt; 
}
​
.sponsorCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
